NEXT_PUBLIC_APP_NAME="Online Consultations"
NEXT_PUBLIC_APP_DESCRIPTION="Professional online consultations with psychologists, psychiatrists and personal doctors."
NEXT_PUBLIC_APP_URL="https://localhost:3000"

NEXT_PUBLIC_GOOGLE_VERIFICATION=""
NEXT_PUBLIC_YANDEX_VERIFICATION=""
NEXT_PUBLIC_FACEBOOK_VERIFICATION=""
NEXT_PUBLIC_MS_VERIFICATION=""